@charset "UTF-8";

/* 新增訂單的透明白邊框 */
.orm {
	text-align: center;
	margin-top: 100px;
	background-color: rgba(189, 192, 186, 0.5);
	width: 400px;
	height: 385px;
	border-radius: 30px;
}
/* 新增訂單的透明白邊框 透明度較低 */
.orm2 {
	text-align: center;
	margin-top: 100px;
	background-color: rgba(189, 192, 186, 0.88);
	width: 400px;
	height: 385px;
	border-radius: 30px;
}
/*訂位的字體*/
.ormt {
	margin: 25px;
	color: rgba(15, 37, 64, 0.7);
}

/*定位成功的字體*/
.ormt2{
	margin: 25px;
	color: rgba(15, 37, 64, 0.7);
	font-size: 1.3em;
}

/*訂位的按鈕*/
.ormBtn {
	display: inline-block;
	border-radius: 8px;
	background-color: rgba(15, 37, 64, 0.7);
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	/* 	padding-top: 3.5px; */
	width: 60px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 10px;
}
/*訂位的牛排背景*/
.steakBG {
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url('http://localhost:8080/YunHotel/image/steak.jpg');
}
/*查詢的背景*/
.queryODBG {
	background-repeat: no-repeat;
	background-size: cover;
	background-image:
		url('http://localhost:8080/YunHotel/image/queryOd2.jpg');
}
/*查詢的背景*/
.ckeckinBG {
	background-repeat: no-repeat;
	background-size: cover;
	background-image:
		url('http://localhost:8080/YunHotel/image/hotelroom.jpg');
}
/*訂單的透明邊框*/
.odq {
	text-align: center;
	margin-top: 20px;
	background-color: rgba(189, 192, 186, 0.5);
	width: 1200px;
	height: 500px;
	border-radius: 30px;
}
/*字體大小*/
.odfz {
	font-size: 18px;
	margin: 10px;
	color: rgba(15, 37, 64, 0.7);
}
/*submit的樣式*//**/
.odsm{
	border-radius: 5px;
	border-color: rgba(15, 37, 64, 0.7);
	border: 10px;
}
.odin input[type="radio"] {
	display: none;
}

.odin input[type="radio"] + label {
	display: inline-block;
	background-color: #ccc;
	cursor: pointer;
	padding: 5px 10px;
	border-radius: 5px;
}
.odin input[type="radio"]:checked + label {
	background-color:rgba(15, 37, 64, 0.7);
	color: #fff;
}





